.table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid gray;
    overflow: scroll;
}

/* .table thead th:nth-child(1){
    width: 20px;
}

.table thead th:nth-child(2){
    width: 80px;
}

.table thead th:nth-child(3){
    width: 20px;
}

.table thead th:nth-child(4){
    width: 30px;
}

.table thead th:nth-child(5){
    width: 50px;
}

.table thead th:nth-child(6){
    width: 100px;
}

.table thead th:nth-child(7){
    width: 100px;
} */

.table thead{
    background-color: grey;
}

.table th, .table td {
    padding: 4px 8px;
    font-size: 13px;
}

.table tbody tr:nth-child(even){
    background-color: grey;
}

.table tbody tr:hover{
    background-color: rgb(255, 174, 0);
    color: black;
}